
RealEstate/.vs/RealEstate/DesignTimeBuild/.dtbcache.v2
RealEstate/.vs/RealEstate/v16/.suo
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.assets.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.AssemblyReference.cache
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
RealEstate/RealEstate/RealEstate.csproj
RealEstate/.vs/RealEstate/v16/.suo
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.assets.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.AssemblyReference.cache
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.g.props
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.assets.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.AssemblyReference.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.GeneratedMSBuildEditorConfig.editorconfig
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.g.props
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.g.props
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.AssemblyReference.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.assets.cache
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.g.props
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/staticwebassets/RealEstate.StaticWebAssets.xml
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/staticwebassets/RealEstate.StaticWebAssets.Manifest.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.Views.pdb
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.Views.dll
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.TagHelpers.output.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.TagHelpers.input.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.RazorTargetAssemblyInfo.cs
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.g.props
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.RazorTargetAssemblyInfo.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.RazorCoreGenerate.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.pdb
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.MvcApplicationPartsAssemblyInfo.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.genruntimeconfig.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.exe
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.dll
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.g.props
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.FileListAbsolute.txt
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.CoreCompileInputs.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.CopyComplete
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.AssemblyReference.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.assets.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
RealEstate/.vs/RealEstate/config/applicationhost.config
RealEstate/.vs/RealEstate/v16/.suo
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/appsettings.Development.json
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/appsettings.json
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/HousesSchema.json
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/LandsSchema.json
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Schema.dll
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/RealEstate.deps.json
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/RealEstate.dll
RealEstate/.vs/RealEstate/v16/.suo
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/RealEstate.exe
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/RealEstate.pdb
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/RealEstate.runtimeconfig.dev.json
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/RealEstate.runtimeconfig.json
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/RealEstate.Views.dll
RealEstate/RealEstate/bin/Debug/netcoreapp3.1/RealEstate.Views.pdb
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
RealEstate/.vs/RealEstate/v16/.suo
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.assets.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.AssemblyReference.cache
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.g.props
RealEstate/.vs/RealEstate/v16/.suo
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.assets.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.AssemblyReference.cache
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.g.props
RealEstate/.vs/RealEstate/v16/.suo
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.assets.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.AssemblyReference.cache
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.g.props
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.g.props
RealEstate/.vs/RealEstate/v16/.suo
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.assets.cache
RealEstate/RealEstate/obj/Debug/netcoreapp3.1/RealEstate.csproj.AssemblyReference.cache
RealEstate/RealEstate/obj/project.assets.json
RealEstate/RealEstate/obj/project.nuget.cache
RealEstate/RealEstate/obj/RealEstate.csproj.nuget.dgspec.json
