@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
    List<HouseData.Houses> houses = (List<HouseData.Houses>)ViewData["Houses"];
    List<LandData.Lands> lands = (List<LandData.Lands>)ViewData["Lands"];
}

<div class="text-center">
    <h1 class="display-4">Welcome to Real Estate</h1>
    
    <div>
        
   Your design here


   

    </div>
