@page
@model IndexModel
@{ ViewData["Title"] = "SmartMove";
    List<HouseData.Houses> houses = (List<HouseData.Houses>)ViewData["Houses"];
    List<LandData.Lands> lands = (List<LandData.Lands>)ViewData["Lands"];

}
<!DOCTYPE html>
<html lang="en">
<

    <head>

        <title>SmartMove</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/StyleSheet.css" type="text/css" />


        <style >
            body {
                font: 20px Montserrat, sans-serif;
                line-height: 1.8;
                color: white;
            }

            p {
                font-size: 16px;
            }

            .margin {
                margin-bottom: 45px;
            }

            .bg-1 {
                background-color: transparent;
                color: black;
            }

            .bg-2 {
                background-color: #474e5d;
                color: #ffffff;
            }

            .bg-3 {
                background-color: transparent;
                color: white;
            }

            .bg-4 {
                background-color: skyblue;
                color: #fff;
            }

            .container-fluid {
                padding-top: 70px;
                padding-bottom: 70px;
            }



            .navbar-nav li a:hover {
                color: gold !important;
            }
        </style>
    </head>
    <body style="background-color:lightcyan;">



        <div class="container-fluid bg-1 text-center">

            <h3 class="margin"><strong>WELCOME TO  </strong></h3>

            <img src="https://i.pinimg.com/originals/de/51/5c/de515cc65a5c60de3f163662140c5305.gif" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
            <h3 style="color: white"><strong>320 N Morgan St Suite 600, Chicago, IL 60607 </strong></h3>
        </div>

        <div class="container-fluid bg-1 text-center">
        </div>
        <div class="container-fluid bg-1 text-center">
        </div>
        <div class="container-fluid bg-1 text-center">
        </div>
        <div class="container-fluid bg-1 text-center">
        </div>



        <div class="container-fluid bg-1 text-center">
            <h1 class="margin"> <strong>Rent In Style </strong></h1>
            <h1><strong> Luxury | Comfort | Accessibility </strong> </h1>

        </div>


        <div class="container-fluid bg-1 text-center">
            <div class="row">
                <div class="col-sm-4">
                    <h1><strong>  HOUSES</strong></h1>
                    <img src="https://photos.zillowstatic.com/fp/b61877735a7436cbb7a6af188a12460f-cc_ft_960.jpg" class="img-responsive img-circle margin" style="height:80%" alt="Image">
                </div>
                <div class="col-sm-4">
                    <h1> <strong>LANDS </strong></h1>
                    <img src="https://static01.nyt.com/images/2013/08/20/nyregion/HOLE/HOLE-articleLarge.jpg?quality=75&auto=webp&disable=upscale" class="img-responsive margin img-circle margin" style="height:80%" alt="Image">
                </div>
                <div class="col-sm-4">
                    <h1> <strong>OFFICE SPACE </strong></h1>
                    <img src="https://toggl.com/blog/wp-content/uploads/2020/07/What-a-WeWork-Interior-Designer-Can-Teach-Us-About-Our-Workspace-2.jpg" class="img-responsive margin img-circle margin" style="height:80%" alt="Image">
                </div>
            </div>
        </div>


        <footer style="color:black" class="container-fluid bg-1 text-center">
            <p>CONTACT: +1 513-306-3552 |   bookings@smartmove.com  |  donate@smartmove.org </p>
        </footer>

    </body>

</html>
