.padd {
    padding: 3%;
    margin-left: 32%;
}

body {
    background-image: url("https://images8.alphacoders.com/481/thumb-1920-481944.jpg");
    background-repeat: no-repeat;
    background-size: 1800px 1200px;
}

.linkchange {
    color: #18fcff !important;
}
