.padd {
    padding: 3%;
    margin-left: 32%;
}

body {
    background-image: url("https://assets-global.website-files.com/5dc45139b3f0c91202ecd326/5e97a7c93fc8a7a09c2751e3_COVID-19-Header.jpg");
    background-repeat: no-repeat;
    background-size: 1800px 700px;
}

.linkchange {
    color: #18fcff !important;
}
