body {
    background-color: lightcyan;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: midnightblue;
}

p {
    font-size: 18px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: transparent;
    color: black;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar-nav li a:hover {
    color: gold !important;
}
